body {
    font-family: 'Cairo', sans-serif
}

.header {
    position: relative;
}

.has-dropdown {
    position: relative;
}

.navbar .dropdown-menu {
    position: absolute;
    top: 95px;
    left: 0;
    background-color: #1d1d1d !important;
    text-align: left;
    width: 200px !important;
    display: block;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.has-dropdown-rght {
    position: relative;
}

.navbar .dropdown-menu-rght {
    position: absolute;
    top: -20px;
    right: -295px;
    background-color: #1d1d1d !important;
    text-align: left;
    width: 200px !important;
    display: block;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.navbar .has-dropdown-rght:hover .dropdown-menu-rght {
    opacity: 1;
    right: -265px;
    visibility: visible;
}

.navbar .has-dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 65px
}

.nav-link {
    padding: 12px;
    color: rgba(255, 255, 255, .55)
}

.mob-menu .nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mob-menu .nav-link i {
    color: #F7941D;
}

.nav-items ul li i.fa-file-arrow-down {
    margin-left: 0;
    margin-right: 10px;
    color: #F7941D;
}

.dropdown-menu li a {
    color: rgba(255, 255, 255, .55)
}

.dropdown-menu li {
    padding: 6px;
}

.dropdown-menu li a:hover {
    background-color: transparent;
    color: #F7941D
}

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000de;
    width: 100%;
    height: 100%;
    z-index: 99999999999;
    display: none;
}

.mob-menu .dropdown-menu li {
    width: 100%;
}

.mob-menu ul {
    padding: 8px;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: #1d1d1d;
}

.mob-menu ul li {
    border-bottom: 1px solid #b4b4b438;
    width: 95%;
    text-align: left;
}

.mob-menu ul li a i {
    float: right;
}

.mob-menu ul li:last-child {
    border: none;
}

.mob-menu .dropdown-menu {
    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.mob-menu .dropdown-menu.opened {
    display: block;
    visibility: visible;
    height: 100%;
    overflow: visible;
    position: relative;
    background-color: #121212;
    width: 100%;
}

.mob-menu span {
    position: absolute;
    z-index: 999999999;
    color: #fff;
    font-size: 25px;
    padding: 12px 10px;
}

.mob-menu span i {
    color: #F7941D
}

.nav-link:hover {
    color: #F7941D
}

.nav-link.active {
    color: #F7941D
}

.mob-menu-icon {
    display: none;
}

.mob-menu-icon i {
    color: rgba(255, 255, 255, .55);
    font-size: 30px;
    margin-right: 15px;
}

.swiper {
    height: 600px;
}

.navbar {
    position: fixed;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999;
    width: 85%;
    background-color: #1d1d1d;
    border-radius: 10px;
}

.pre-header {
    position: fixed;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999;
    width: 85%;
    background-color: #1d1d1d;
    border-radius: 8px;
    height: 30px;
    padding: 3px 10px;
}

.pre-header a {
    margin: 1px 6px;
    text-decoration: none;
    color: rgb(255 255 255 / 88%);
    font-size: 16px;
}

.pre-header a:hover {
    color: #F7941D
}

.pre-header a img {
    margin-right: 8px;
}

.nav-items ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-items ul li {
    display: inline-block;
}

.nav-items ul li i {
    margin-left: 5px;
}

.nav-logo {
    margin-left: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #F7941D
}

.swiper-pagination-bullet-active {
    background-color: #F7941D;
}

.swiper-slide {
    position: relative;
}

.swiper-slide .data-slider {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}

.data-slider h1 {
    font-size: 55px;
    color: #fff;
    margin: 5px;
    font-weight: bold;
}

.data-slider p {
    color: #fff
}

.data-slider button {
    outline: none;
    border: 2px solid #F7941D;
    padding: 12px 12px;
    background: transparent;
    color: #fff;
    width: 150px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.data-slider button:hover {
    background-color: #F7941D;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    margin-bottom: 80px;
}

.counter {
    position: absolute;
    bottom: -55px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.counter-sec {
    display: flex;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 6px #888;
    padding: 15px;
}

.count-box {
    width: 33%;
    text-align: center;
}

.count-box span {
    font-size: 35px;
    color: #F7941D;
    font-weight: 600;
}

.count-yr img {
    max-width: 95%;
}

.count-yr {
    position: relative;
    overflow: hidden;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: none;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count-yr:active {
    transform: scale(0.95);
}

.count-yr::before {
    content: '';
    position: absolute;
    inset: -1px 30px;
    background: #F7941D;
    transition: 500ms;
    animation: rotate 4s linear infinite;
    z-index: -1;
}

.count-yr:hover::before {
    inset: -1px;
}

.count-yr::after {
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 50%;
    background: #333;
    z-index: -1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* values style */

.sec-title h1 {
    text-align: center;
    font-size: 45px;
    position: relative;
}

.sec-title h1 span {
    color: #F7941D;
}

.sec-title h1::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    border-radius: 4px;
    width: 220px;
    background-color: #F7941D;
}

.find-us .cont-us h1::after {
    left: 140px !important;
}

.val-box {
    text-align: center;
    border: 2px solid #F7941D;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    height: 290px;
}

.val-box .ico-box {
    position: absolute;
    width: 150px;
    height: 150px;
    top: -83px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffff;
}

.val-box .ico-box img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.val-box .data-box {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
}

.val-box .data-box a {
    outline: none;
    background-color: #F7941D;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.val-box .data-box a:hover {
    background-color: #212529;
}

.val-box .ico-box img.img-c {
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sperator {
    height: 100px;
}

.val-box .ico-box img.o-img-m {
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* middle section */
.middle-sec {
    position: relative;
    background: url('../imgs/mid-sec.jpg');
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.m-s-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mid-sec h1 {
    font-size: 30px;
    color: #fff;
}

.m-s-data p {
    font-size: 50px;
    color: #fff;
}

/* products section */
.products {
    background-color: #f7f7f7;
}

.prod-box {
    padding: 15px;
    background: #fff;
    box-shadow: 0 1px 6px #ccc;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.prod-box .ico-box img {
    max-width: 60%;
}

.prod-box .ico-box {
    background-color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod-box a {
    border: 2px solid #F7941D;
    border-radius: 20px;
    padding: 4px 18px;
    transition: all 0.3s ease-in-out;
}

.prod-box:hover a {
    background-color: #fff;
    border: 2px solid #fff;
    color: #333
}

.prod-box:hover {
    background: #F7941D;
}

.proj-box {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.proj-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.proj-box-cta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.proj-box-cta h3 {
    color: #fff
}

.proj-box-cta p {
    text-align: center;
    color: #fff
}

.proj-box-cta a {
    background-color: #F7941D;
    color: #333
}

.prod-proj-bx {
    background: url('../imgs/project-box.jpg');
    background-size: cover;
}

.img-vis {
    visibility: hidden;
}

/* clients section */

.clients-sl img {
    max-width: 55%;
}


/* contact section */

.contact {
    background: url('../imgs/contact.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.contact .sec-title h1 {
    color: #fff;
}

.find-us {
    padding: 20px 40px;
    background-color: #000000cc;
    border-radius: 8px;
    height: 100%;
}

.find-us ul {
    margin: 0;
    padding: 0;
}

.find-us .sec-title h1::after {
    left: 90px;
    width: 50px;
    bottom: -7px;
}

.find-us .sec-title h1 {
    text-align: left;
    font-size: 35px;
}

.find-us ul li {
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 8px;
}

.cont-data ul li {
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 40px 8px;
}

.cont-data ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 19px !important;
    display: flex;
}

.find-us ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.find-us ul li svg {
    fill: #F7941D;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.contact-form {
    padding: 10px;
    height: 100%;
}

.contact-form form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.contact-form form input::placeholder {
    font-size: 12px;
    color: #b4b4b4;
}

.contact-form form .form-floating label {
    font-size: 14px;
    color: #b4b4b4;
}

.contact-form form button {
    background-color: #F7941D;
    width: 150px;
    outline: none;
    border: none;
}

.contact-form form button:hover {
    background-color: #212529;
}

.contact-form h5 {
    color: #fff
}

.contact-form .nav-tabs .nav-item.show .nav-link,
.contact-form .nav-tabs .nav-link.active {
    color: #FFF;
    background-color: #F7941D;
    border-color: #F7941D
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

/* news section */
.news-card {
    position: relative;
    width: 22.8%;
    height: 250px;
    background-color: #F7941D;
    ;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 6px #aaa;
    display: inline-block;
    margin: 10px;
}

.news-card .news-img {
    position: absolute;
    width: 85%;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out
}

.news-card .news-img img {
    max-width: 100%;
}

.news-card .news-data {
    position: absolute;
    width: 85%;
    background-color: #fff;
    overflow: hidden;
    height: 80px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 1px 6px #aaa;
    transition: all 0.3s ease-in-out
}

.news-card .news-date {
    font-size: 12px;
    color: #999
}

.news-card .news-data p {
    color: #F7941D;
    font-weight: 600;
}

.news-card .news-data a {
    border: 1px solid #F7941D;
    border-radius: 20px;
}

.news-card .news-data a:hover {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
}

.news-card:hover .news-img {
    top: -20px
}

.news-card:hover .news-data {
    bottom: -50px;
    height: 160px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* footer section */
.footer {
    background-color: #212529;
    position: relative;
    padding: 20px;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 95%;
    display: block;
    background-color: #F7941D;
    border-radius: 8px;
}

.footer .footer-logo img {
    max-width: 55%;
}

.social h5 {
    color: #fff
}

.footer ul {
    padding: 0;
    margin: 0;
}

.social ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.social ul li {
    margin: 5px;
}

.social ul li a {
    padding: 8px;
    background-color: #333;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}

.social ul li:first-child a {
    color: #1877F2
}

.social ul li:first-child:hover a {
    background-color: #1877F2;
    color: #fff
}

.social ul li:nth-child(2) a {
    color: #000
}

.social ul li:nth-child(2):hover a {
    background-color: #000;
    color: #fff
}

.social ul li:nth-child(3) a {
    color: #CD201F
}

.social ul li:nth-child(3):hover a {
    background-color: #CD201F;
    color: #fff
}

.social ul li:nth-child(4) a {
    color: #0A66C2
}

.social ul li:nth-child(4):hover a {
    background-color: #0A66C2;
    color: #fff
}

.social ul li:last-child a {
    color: #25D366
}

.social ul li:last-child:hover a {
    background-color: #25D366;
    color: #fff
}

h5.fot-t {
    color: #fff;
    position: relative;
}

h5.fot-t::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
    width: 60px;
    background-color: #F7941D;
    display: block;
    border-radius: 6px;
}

.fotter-links li {
    margin: 8px 0;
}

.fotter-links li a {
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}

.fotter-links li a:hover {
    color: #F7941D
}

.fotter-links i {
    color: #F7941D;
    margin-right: 8px;
}

/* copyright section */

.copyright {
    padding: 20px;
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright p {
    color: #fff;
    margin-bottom: 0;
}

.copyright a {
    color: #F7941D;
}

@media (max-width: 992px) {
    .swiper-slide {
        overflow: hidden;
    }

    .navbar {
        top: 70px;
        width: 90%;
    }

    .pre-header {
        height: auto;
        width: 95%;
    }

    .pre-header .d-flex {
        justify-content: center !important;
        margin-top: 10px;
    }

    .mob-menu-icon {
        display: block;
    }

    .nav-items {
        display: none;
    }

    .counter {
        position: relative;
    }

    .counter .container .row {
        flex-direction: column;
        align-items: center;
    }

    .counter .container .row .count-yr {
        margin: 2px auto 25px auto;
    }

    .counter-sec {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .counter-sec .count-box {
        width: 90%;
        padding: 8px;
    }

    .counter-sec .count-box:not(:last-child) {
        border-bottom: 1px solid #bbb;
    }

    .values .val-box {
        margin-top: 115px;
    }

    .contact-form>.row {
        flex-direction: column-reverse;
    }

    .find-us {
        padding: 10px;
        margin-bottom: 20px;
    }

    .find-us ul li {
        margin: 8px 1px;
    }

    .prod-box {
        text-align: center;
    }

    .prod-box .ico-box {
        margin: auto;
    }

    .news-card {
        width: 94.8%;
        margin: 25px 10px;
    }
    .proj-box {
        height: 300px;
    }
}




/* about us */
.head-full-bg {
    background-color: #1d1d1d;
}

.page-title-sec {
    height: 400px;
    position: relative;
}
.page-title-sec img {
    filter: grayscale(1);
    width: 100%;
    height: 100%;
}

.title-sec-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333ef;
    z-index: 2;
}

.page-title-sec::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 95%;
    display: block;
    background-color: #F7941D;
    border-radius: 8px;
}

.pg-ttl-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.pg-ttl-cont h2 {
    color: #F7941D;
    font-size: 66px;
    font-weight: bold;
}

.about-content .text-cont p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    color: #555;
}

.about-sub-ttl {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.about-sub-ttl img {
    margin-right: 10px;
}

.about-sub-ttl h4 {
    margin: 0;
    color: #F7941D;
}

.acc-box {
    display: flex;
    align-items: center;
}

.acc-box .acc-header {
    width: 15%;
    background-color: #F7941D;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 4px;
}

.acc-box .acc-header h2 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
}

.acc-box .acc-header i {
    color: #fff;
    margin-bottom: 15px;
}

.acc-box .acc-content {
    width: 95%;
    height: 100%;
}

.acc-box .acc-content p {
    margin-bottom: 0;
}

.about-acc img {
    max-width: 100%;
    height: 100%;
}

.vis-mis-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .acc-box {
        flex-direction: column;
    }

    .acc-box .acc-header {
        width: 100%;
        margin-bottom: 15px;
        margin-right: 0;
        height: 95px;
    }

    .acc-box .acc-content {
        width: 100%;
    }

    .pg-ttl-cont h2 {
        text-align: center;
    }

    .valus-sec {
        width: 70% !important;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .valu-box {
        border-right-color: transparent !important;
        padding: 20px;
    }

    .valu-box:not(:last-of-type) {
        border-bottom: 2px solid #F7941D;
    }

    .certificates {
        background-size: cover !important;
    }

    .pg-ttl-cont h2 {
        color: #F7941D;
        font-size: 45px;
    }
    .about-row {
        flex-direction: column-reverse;
    }
}

.valus-sec {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valu-box {
    text-align: center;
}

.valu-box:not(:last-of-type) {
    border-right: 2px solid #F7941D;
}

.valus-sec img {
    margin-bottom: 10px;
}

.valus-sec p {
    font-size: 20px;
    font-weight: 500;
}


.cert-Swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cert-Swiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;
}

.cert-Swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.certificates {
    background: url('../imgs/about-us/cert-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.cert-txt strong {
    color: #F7941D
}
.additional-text {
    color: #F7941D;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
.swiper-pagination-bullet-active {
    background-color: #F7941D !important;
    ;
    border: 2px solid #fff !important;
}

.swiper-pagination-bullet {
    background: #00000052;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .9);
    border: 1px solid #f7941d;
}

/* ----------------- products */



.prod-bg {
    background: url('../imgs/page-head/prodcts-ttl-bg.jpg');
    height: 400px;
    position: relative;
}

.products-sect {
    background-color: #eee;
}

.pro-sec-bx {
    background-color: #fff;
    box-shadow: 0 1px 6px #ddd;
    padding: 15px;
    text-align: center;
    width: 31.33%;
    margin: 10px;
    height: 320px;
    position: relative;
    border-radius: 8px;
    display: inline-block;
}

.pro-sec-bx::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 30%;
    height: 4px;
    background-color: #F7941D;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    z-index: 0;
}

.img-p-bx {
    margin-bottom: 4px;
    z-index: 9
}

.pro-sec-bx p {
    width: 80%;
    margin: 10px auto;
    color: #777;
}

.pro-sec-bx a {
    margin: 20px auto;
    width: 120px;
    background-color: #eee;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    display: block;
    background-color: #F7941D;
}

.pro-sec-bx:hover {
    background-color: #F7941D;
    color: #fff;
}

.pro-sec-bx:hover::before {
    background-color: #fff;
}

.pro-sec-bx:hover p {
    color: #fff
}

.pro-sec-bx:hover .img-p-bx img {
    filter: brightness(10);
}

.pro-sec-bx:hover a {
    background-color: #eee;
    color: #333;
}

@media (max-width: 992px) {
    .pro-sec-bx {
        width: 100%;
        display: block;
    }
    .additional-text {
        font-size: 18px;
    }
}

/*------------------------------ products - steel*/
.prSteelSwiper {
    border-radius: 30px;
}

.pro-side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pro-side-menu ul li {
    margin: 8px 0;
}

.pro-side-menu ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #333;
    background-color: #eee;
    padding: 12px;
}

.pro-side-menu ul li.active a,
.pro-side-menu ul li:hover a {
    color: #fff;
    background-color: #F7941D;
}

.pr-steel-txt p {
    text-align: justify;
    line-height: 1.8;
}

.pr-steel-txt ul li {
    margin: 10px 0;
}

.pr-steel-txt ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}


.inner-form-box {
    width: 70%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 6px #ddd;
    position: relative;
    z-index: 2;
}

.inner-form-box h2 {
    margin-bottom: 30px;
}

.inner-form-box button {
    background-color: #F7941D;
    outline: none;
    border: none;
}

.form-bg {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    z-index: 1;
    ;
}

.rel-pr {
    background-color: #333;
    padding: 30px;
    position: relative;
}

.rel-pr-ttl {
    position: absolute;
    top: 50%;
    left: -65px;
    transform: translateY(-50%) rotate(-90deg);
    background: #F7941D;
    padding: 10px 15px;
    color: #fff;
    width: 14%;
    text-align: center;
    font-size: 22px;
}

.rel-pr-box {
    position: relative;
    cursor: pointer;
}

.rel-pr-box img {
    max-width: 100%;
}

.rel-pr-over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000d6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.rel-pr-box:hover .rel-pr-over {
    visibility: visible;
}

.rel-pr-over p {
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    color: #F7941D
}

.rel-pr-over p:last-of-type {
    font-size: 20px;
    margin-bottom: 0;
    color: #fff
}

.rel-pr-over a {
    margin-top: 15px;
    color: #fff;
    border: 1px solid #F7941D;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 10px;
}

.rel-pr-over a:hover {
    background-color: #F7941D;
    color: #333;
}

.rel-pr-v-all {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: #000;
    padding: 8px 12px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.rel-pr-v-all a {
    text-decoration: none;
    color: #F7941D;
    display: block;
    height: 100%;
    width: 100%;
}

.rel-pr-v-all:hover {
    background-color: #F7941D;
}

.rel-pr-v-all:hover a {
    color: #333
}

@media (max-width: 992px) {
    .inner-form-box {
        width: 100%;
    }

    .form-container {
        padding: 20px !important;
    }

    .rel-pr-ttl {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
    }

    .rel-pr .rel-pr-box img {
        height: 100%;
    }

    .rel-pr .col-12:first-child {
        margin-top: 70px !important;
    }

    .rel-pr {
        padding-bottom: 90px;
    }

    .rel-pr-v-all {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        text-align: center;
    }
}

/* --------------------- projects */
.project-bg-ttl {
    height: 400px;
    position: relative;
}

.project-bg-ttl img {
    filter: grayscale(1);
    width: 100%;
    height: 100%;
}

.proj-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333ef;
    z-index: 2;
}

.project-pg-ttl-cont {
    position: absolute;
    bottom: 50px;
    left: 30px;
    z-index: 3;
}

.project-pg-ttl-cont h2 {
    color: #F7941D;
    font-size: 35px;
    margin-bottom: 0;
}

.project-pg-ttl-cont h1 {
    color: #fff;
    font-size: 60px;
    margin-top: 10px;
}

.proj-img img {
    width: 100%;
    border-radius: 20px;
}

.img-glry {
    width: 80%;
    margin: auto;
}

.img-glry .col {
    display: inline-block;
    width: 32%;
    margin: 5px;
}

.img-glry .or-img img {
    max-width: 100%;
}

.proj-gallery ul {
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.proj-gallery ul li {
    padding: 8px;
    border: 2px solid #999;
    width: 15%;
    text-align: center;
    background: #eee;
    color: #555;
    cursor: pointer;
    margin: 5px;
}

.proj-gallery ul li:hover,
.proj-gallery ul li.active {
    background-color: #333;
    color: #F7941D;
    border-color: #333;
}

.img-glry .mix {
    position: relative;
    cursor: pointer;
}

.img-glry .mix:hover .overlay {
    display: block;
}

.img-glry .mix .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000cc;
    display: none;
}

.img-glry .mix .overlay a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    border: 3px solid #F7941D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.img-glry .mix .overlay a h3 {
    font-size: 16px;
    color: #F7941D;
}

.img-glry .mix .overlay a p {
    margin: 0;
    color: #fff
}

@media (max-width: 992px) {
    .project-bg-ttl {
        height: 300px;
    }

    .project-pg-ttl-cont h2 {
        font-size: 20px;
    }

    .project-pg-ttl-cont h1 {
        font-size: 25px;
    }

    .proj-gallery ul {
        flex-direction: column;
    }

    .proj-gallery ul li {
        width: 100%;
    }

    .img-glry .col {
        width: 98%;
    }

    .img-glry {
        width: 100%;
    }

    .prSteelSwiper {
        height: 500px;
    }
}

/*--------------------------------- scope of work */

.scope-box {
    display: flex;
    align-items: center;
    border: 2px solid #F7941D;
    border-radius: 10px;
    position: relative;
}

.scp-img img {
    max-width: 80%;
    padding: 15px;
}

.scp-img {
    border-right: 1px solid #eee;
    text-align: center;
}

.scp-data {
    padding: 15px;
}

.scp-data p {
    color: #757575
}

.scp-more {
    position: absolute;
    right: 25px;
    bottom: -20px;
    width: 40px;
    height: 40px;
    background: #F7941D;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 4px #bbb;
    text-decoration: none;
}

.scp-more:hover {
    background-color: #333;
    color: #F7941D
}

.scope-sect {
    padding: 30px 15px;
}

@media (max-width: 992px) {
    .scope-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .scp-img {
        border: none;
        text-align: left;
    }

    .scp-img img {
        max-width: 55%;
    }
}



/*--------------------------------- media gallery */


.gallery img {
    margin: 3px;
    width: 315px;
    border: 1px solid #F7941D;
    box-shadow: 0 1px 6px #555555;
}

.image-gallery {
    background-color: #696a6c
}


.video-gallery {
    display: flex;
    padding: 15px;
    box-sizing: border-box;
}

.video-gallery .gallery-item {
    position: relative;
    width: 100%;
    height: 300px;
    background: #000;
    cursor: pointer;
    overflow: hidden;
    margin: 10px;
}

.video-gallery .gallery-item img {
    position: relative;
    display: block;
    width: 115%;
    height: 300px;
    object-fit: cover;
    opacity: .5;
    transition: all 350ms ease-in-out;
    transform: translate3d(-23px, 0, 0);
}

.north-cascades-img {
    object-position: 50% 30%;
}

.video-gallery .gallery-item .gallery-item-caption {
    padding: 32px;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
}

.video-gallery .gallery-item .gallery-item-caption,
.video-gallery .gallery-item .gallery-item-caption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-gallery .gallery-item h2 {
    font-weight: 300;
    overflow: hidden;
    padding: 12px 0;
}

.video-gallery .gallery-item h2,
.video-gallery .gallery-item p {
    position: relative;
    margin: 0;
    z-index: 1;
    pointer-events: none;
}

.video-gallery .gallery-item p {
    letter-spacing: 1px;
    font-size: 12px;
    padding: 12px 0;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(10%, 0, 0);
}

.video-gallery .gallery-item:hover img {
    opacity: 0.3;
    transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item .gallery-item-caption {
    text-align: left;
}

.video-gallery .gallery-item h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 1px;
    background: #fff;
    transition: transform 0.3s;
    transform: translate3d(-100%, 0, 0);
}

.video-gallery .gallery-item:hover h2::after {
    transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item:hover p {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}


@media screen and (max-width: 992px) {
    .video-gallery {
        width: 100%;
        padding: 15px;
        flex-direction: column;
    }

    .video-gallery .gallery-item {
        width: 95%;
        margin: 10px auto;
        width: 100%;
    }
}


/*------------------ news */


.news img {
    width: 100%;
    height: 100%;
}

.news-big-5 {
    background: url('../imgs/news/news-1-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.news-afr {
    background: url('../imgs/news/news2-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*-------------------------------- contact us */
.contact-sec .sec-title h1 {
    color: #fff
}

.contact-sec .cont-pg h1 {
    color: #333
}


.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    margin-bottom: 20px;
}
.pr-steel-txt strong {
    color: #F7941D
}
.proj-img {
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
}